# Deny all files and directories by default.
/*

# Allow only explicitly managed root files.
!/.gitignore
!/Makefile
!/LICENSE
!/README.md
!/go.mod
!/go.sum
!/tf/
!/tf/*.go
!/.github/
!/.github/CONTRIBUTING.md
!/.github/SECURITY.md
!/.github/workflows/
!/.github/workflows/ci.yml

# Allow lint/style configuration files.
!/.golangci.yml
!/.markdownlint-cli2.yaml
!/.yamlfmt
!/.editorconfig
